
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #FF56A9;
    --secondary: #3C8EFF;
    --accent: #FFD600;
    --surface: #161429;
    --background: #0C0B1A;
    --foreground: #ffffff;
    --success: #00E886;
    --danger: #FF3B55;
    --border: #242236;

    --radius: 1rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-screen font-text;
    background-image: linear-gradient(120deg, #0c0b1a 0%, #161429 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1, h2, h3, h4, .font-display {
    @apply font-display tracking-tight;
  }
  .vibrant-text {
    background: linear-gradient(99deg, var(--primary) 15%, var(--secondary) 49%, var(--accent) 97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
